<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment Details</title>
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="javascripts/materialize.min.js"></script>
    
    <link rel="stylesheet" href="/stylesheets/stuffStyle.css">
</head>
<body>
    <div class="container">
        <h1>Assignment Details:</h1>
        <a class="btn-small waves-effect waves-light" href="/stuff">
            <i class="material-icons left">arrow_back</i>
            Return to assignment list
        </a>
        <table class="striped highlight">
            <tbody>
                <tr>
                    <th>Assignment:</th><td><%= item %></td>
                </tr>
                <tr>
                    <th>Class:</th><td><%= quantity %></td>
                </tr>
                <tr>
                    <th>Due Date:</th><td><%= description %></td>
                </tr>
            </tbody>
        </table>

        <div class="section" id="stuffControls">
            <a class="waves-effect waves-light btn-large orange accent-4 modal-trigger" href="#stuffEdit">
                <i class="material-icons right">edit</i>
                Edit
            </a>
            <a class="btn-large waves-effect waves-light red right"  href="/stuff/item/<%= id %>/delete">
                <i class="material-icons right">delete</i>Delete
            </a>
        </div>

        <div class="modal" id="stuffEdit">

            <div class="modal-content">

                <h2>Edit item:</h2>
                <form method="post" action="/stuff/item/<%= id%>"> <!-- default action is the page's URL -->
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="nameInput">Assignment Name:</label>
                            <input type="text" name="name" id="nameInput" class="validate" data-length="32" value="<%= item%>" required>
                        </div>
                        <div class="input-field col s6">
                            <label for="classNameInput">Class Name:</label>
                            <input type="number" name="quantity" id="quantityInput" value=<%= quantity%> required>
                        </div>
                        <div class="input-field col s6">
                            <label for="dueDateInput">Due Date:</label>
                            <input type="text" name="description" id="descriptionInput" data-length="100" value="<%= description%>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="descriptionInput">Assignment Description:</label>
                            <input type="text" name="description" id="descriptionInput" data-length="100">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn waves-effect waves-light " type="submit">
                            <i class="material-icons right">send</i>
                            Submit
                        </button>
                        <button class="modal-close waves-effect waves-green btn-flat">Never Mind</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    
    <!-- initialize Materialize elements -->
    <script> M.AutoInit();</script>
</body>
</html>